{% extends 'bbrecord/base.html' %}
​
{% block content %}
{% load static %}
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script>// ＋ボタン(class="add")がクリックされたら
$(document).on("click", ".add", function () {

 // 選択された親要素をコピーし、親要素の後に追加する
 // ※親要素は<div id="item">になる
 $(this).parent().clone(true).insertAfter($(this).parent());

});




// －ボタン(class="del")がクリックされたら
$(document).on("click", ".del", function () {

	// 2ヵ所で使うので選択された親要素を変数targetに格納
	// ※親要素は<div id="item">になる
	var target = $(this).parent();

	// targetの親要素の配下の要素数が1以下だったら
	// ※targetの親要素は<div id="list">になる
	if(target.parent().children().length > 1){

		// <div id="item">を削除する
		target.remove();

	}

});


// －ボタン(class="del")がクリックされたら
$(document).on("click", ".del", function () {

 // 2ヵ所で使うので選択された親要素を変数targetに格納
 // ※親要素は<div id="item">になる
 var target = $(this).parent();

 // targetの親要素の配下の要素数が1以下だったら
 // ※targetの親要素は<div id="list">になる
 if(target.parent().children().length > 1){

 // <div id="item">を削除する
 target.remove();

 }

});</script>
    <div class="container">
    <form method="POST">{% csrf_token %}
        <table border="1">
            <thead>
            <tr>
                <th>イニング</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><label>先行チーム名: </label><input type="text" name="top_team" id="top_team"></td>
                {% for i in  "999999999" %}
                    <td><input type="number" name="top_inning" id="inning" style="width:40px;"></td>
                {% endfor %}
            </tr>
            <tr>
                <td><label>後攻チーム名: </label><input type="text" name="bot_team" id="bot_team"></td>
                {% for i in  "999999999" %}
                    <td><input type="number" name="bot_inning" id="inning" style="width:40px;"></td>
                {% endfor %}
            </tr>
        </table></br>
        <ur>
            <li><label>試合日時: </label><input type="datetime" name="game_date" id="game_date"></li>
            <li><label>場所: </label><input type="text" name="venue" id="venue"></li>
            <li><label>天気: </label>
                <select name="weather" id="weather">
                    {% for i, v in weather_dict.items %}
                        <option value="{{ i }}">{{ v }}</option>
                {% endfor %}</select></li>
        </ur>

    </div>
    </br>
    <div class="container">
    <table border="1">
        <thead>
        <tr>
            <th>先発</th>
            <th>打順</th>
            <th>名前</th>
            <th>ポジション</th>
            <th>打席</th>
            <th>打数</th>
            <th>安打</th>
            <th>四死球</th>
            <th>三振</th>
        </tr>
        </thead>
        <tbody>
        {% for i in  "999999999" %}
            <tr>
                <td><input type="checkbox" name="starting_member" id="starting_member{{ forloop.counter }}"></td>
                <td><input type="text" name="dajun" id="dajun" style="width:40px;" value="{{ forloop.counter }}"></td>
                <td><select name="player_id" id="player_id">
                    <option value="">------</option>
                    {% for v in users %}
                        <option value="{{ v }}">{{ v }}</option>
                    {% endfor %}</select>
                </td>
                <td><select name="position" id="position">
                    {% for i, v in position_dict.items %}
                        <option value="{{ i }}">{{ v }}</option>
                    {% endfor %}</select>
                </td>
                <td><input type="text" name="daseki" id="daseki{{ forloop.counter }}" value="0" style="width:80px;"></td>
                <td><input type="text" name="dasuu" id="dasuu{{ forloop.counter }}" value="0" style="width:80px;"></td>
                <td><input type="text" name="hit" id="hit{{ forloop.counter }}" value="0" style="width:80px;"></td>
                <td><input type="text" name="Walk" id="Walk{{ forloop.counter }}" value="0" style="width:80px;"></td>
                <td><input type="text" name="stlike_out" id="stlike_out{{ forloop.counter }}" value="0" style="width:80px;"></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <button type="submit" id="button">Save</button>
        </form>

    </div>

    <script src="{% static 'js/handsontable.full.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

<!--        <div id="list">
        <div id="item">
            <label for="label1" style="width: 20%">ラベル：</label>
            <input type="text" name="itemNm" style="width: 20%">
            <label for="label2" style="width: 20%">ラベル：</label>
            <input type="number" name="number" style="width: 20%">
            <input type="button" value="＋" class="add" style="width: 10%">
            <input type="button" value="－" class="del" style="width: 10%">
        </div>
        </div>-->

{% endblock %}