{% extends 'bbrecord/base.html' %}
​
{% block content %}
    <div clas="container">
    <table class="table table-borderless">
        <thead class="table-sm">
        <tr class="table-secondary">
            <th></th>
            {% for i in inning %}
                <th>{{ i }}</th>
            {% endfor %}
            <th>計</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="table-active">{{ game.top_team }}</td>
            {% for score in top_inning_dict_2 %}
                <td class="table-active">{{ score }}</td>
            {% endfor %}
            <td class="table-active">{{ game.top_score }}</td>
        </tr>
        <tr>
            <td class="table-active">{{ game.bot_team }}</td>
            {% for score in bot_inning_dict_2 %}
                <td class="table-active">{{ score }}</td>
            {% endfor %}
            <td class="table-active">{{ game.bot_score }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    </br>
    <div>
    <table class="table table-borderless table-striped">
        <thead class="table-sm">
        <tr>
            <th>打順</th>
            <th>名前</th>
            <th>ポジション</th>
            <th>打席</th>
            <th>打数</th>
            <th>安打</th>
            <th>四死球</th>
            <th>三振</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.dajun }}</td>
            <td>{{ player.player_id }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.daseki }}</td>
            <td>{{ player.dasuu }}</td>
            <td>{{ player.hit }}</td>
            <td>{{ player.Walk }}</td>
            <td>{{ player.stlike_out }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}