<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
    <table border="1">
        <thead>
        <tr>
            <th>イニング</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>計</th>
        </tr>
        </thead>
        <tbody>
            <tr><td></td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td></tr>
            <tr><td></td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td></tr>
        </tbody>

    </table>
    </div>
    <form method="POST">
            {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>
    </br>
    <div>
    <table>
        <thead>
        <tr>
            <th>打順</th><th>名前</th><th>ポジション</th><th>打席</th><th>打数</th><th>安打</th><th>四死球</th><th>三振</th>
        </tr>
        </thead>
    </table>
    </div>
</body>
</html>