.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.pform {
    width:20px
}

.sample {
    width:50px;
}
